*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.section {
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

body {
  font-family: var(--primary-font);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}
